header{
    background: url("./images/garageband/music_tracks.png");
    background-attachment: fixed;
    background-size: cover;
    position:absolute;
    left:0px;
    right:0px;
    width:100%;
    filter: saturate(120%) contrast(70%) brightness(120%);
    opacity: 80%;
    transform: translateY(-10%);
    height: calc(40.15vh + 10%);  
    display: grid;
    align-items: center;
    justify-content: center;
}

/* citation for frosted image creation: 
    https://webdesign.tutsplus.com/tutorials/how-to-create-a-frosted-glass-effect-in-css--cms-32535 */
.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    background: inherit;
}

.container{
    width: 30rem;
    height: 10rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: inherit;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container h1{
    z-index: 2;
    color: black;
    font-weight: 600;
}

.pagesbar {
    display: block;    
    float: right;
    background: #7FB6BA;
    padding:2em;
}

.projectsa{
    color: white;
    margin-left: 0.5em;
    margin-right: 1em;
}

.resumea{
    color: white;
    margin-right: 1em;
}

.abouta{
    color:white;
}

.context{
    margin-top: 30vh;
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

.context-text{
    margin:2vw;
    padding:2vw;
}

.intro-section{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

.box-of-text{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.user-research{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

.qcat{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.userrow{
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 3em;
    overflow: hidden;
}

.useritem{
    padding:1em;
    margin:1em;
}

.useritem p{
    font-size:2vh;
}

.persona{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

.thinks{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.says{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.does{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.feels{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.storyboarddiv{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

.storyboard-describe{
    margin:2vw;
    padding:2vw;
    background-color:#89d8e8;
}

.storyboarddiv img{
    display: inline-block;
    align-self: center;
    justify-content: center;
    margin:2vw;
    padding:2vw;
}
