/* Put your style information here! */

/* encode-sans-expanded-regular - latin */
@font-face {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 400;
    src: local('Encode Sans Expanded Regular'), local('EncodeSansExpanded-Regular'),
         url('./fonts/encode-sans-expanded-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/encode-sans-expanded-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* caveat-regular - latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/caveat-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/caveat-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/caveat-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/caveat-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/caveat-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/caveat-v9-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
  }

body{
    padding: 0;
    margin: 0px;
}

.headPane{
    background: url("./images/afm47/city_map.png");
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    left:0px;
    right:0px;
    height: 50vh;  
    position: relative;
}

.container-item{
    width: 70vw;
    height: 10rem;
    background-color: rgb(127, 182, 186, 0.65);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title-text{
    display: inline-block;
    vertical-align: middle;
}

.container-item h1{
    z-index: 2;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 6rem;
    font-family: 'Caveat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pagesbar {
    display: inline-flex;
    background: #7FB6BA;
    margin: 1em;
    padding-right:1em;
    margin-right:0em;
}

.projectsa{
    color: #3d3c3c;
    font-weight: 500;
    margin-left: 0.5em;
    margin-right: 1em;
}

.projectsmenu{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.scrolla{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.musica{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.resumea{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.abouta{
    color: #3d3c3c;
    font-weight: 500;
}

.sidebar-wrap{
    display: none;
    background: #7FB6BA;
    margin: 1em;
    padding:1em;
    z-index: 4;
}

.sidebar-wrap i{
    color: #3d3c3c;
}

.guide-text{
    text-align: center; 
    margin-top: 5vh;
    font-size: 2rem;
    font-family: 'Caveat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linked-image{
    width: 50%;
    margin: auto;
    display: block;
    align-self: center;
    justify-content: center;
}

.introtowebsite{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

.introtowebsite img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:auto;
    align-content: center;
}

.lofi img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    align-content: center;
}

.hifi img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    align-content: center;
}

.usetext{
    padding-left: 5vw;
    padding-right: 5vw;
}

.designcriteria{
    padding-left: 5vw;
    padding-right: 5vw;
}

.usability{
    font-size: small;
    overflow:scroll;
}

.learnability{
    font-size: small;
    overflow:scroll;
}

.memorability{
    font-size: small;
    overflow:scroll;
}

.accessibility{
    font-size: small;
    overflow:scroll;
}

.judgement{
    font-size: small;
    overflow:scroll;
}

.designcriteria h4{
    text-align: center;
}

.lofi{
    padding: 5vw;
    padding-bottom: 2vw;
}
.lofi p{
    background-color: blanchedalmond;
    padding: 2em;
}

.hifi{
    padding: 5vw;
    padding-bottom: 2vw;
}

.hifi p{
    background-color: blanchedalmond;
    padding: 2em;
}

.styleguide{
    padding: 5vw;
    padding-bottom: 2vw;
}

.styleguide h5{
    font-family: 'Encode Sans Expanded', cursive;
}

.styleguide ul{
    text-decoration: none;
    list-style: none;
}

.styleguide li{
    margin-bottom: 1vw;
}

.showing-style{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#bluecircle{
    background-color: #1b7098;
}

#orangecircle{
    background-color: #fcc686;
}

#blackcircle{
    background-color: black;
}

#whitecircle{
    background-color: white;
    border-style: solid;
}

#logocolorcircle{
    background-color: #4FB1E0;
}

.encodesans{
    font-family: 'Encode Sans Expanded', cursive; 
}

.explain{
    margin: 2vw;
    vertical-align: middle;
}

.linkedonblue{
    background-color: #1b7098;
}
.linkedonblue a{
    color:white;
}
.linkedonblue a:hover{
    color: #fee8cd;
}

.linkedonorange{
    background-color: #fcc686;
}
.linkedonorange a{
    color:black;
}
.linkedonorange a:hover{
    color: #1b7098;
}

.subnavbtn{
    background-color: #1b7098;
    color: white;
    border:none;
    outline:none;
    padding: 1.2vw 1.2vw;
    font-size: 1.25vw;
    font-family: inherit;
    margin-bottom: 2vw;
}

.subnavbtn:hover{
    background-color: black;
}

.subnav-a{
    background-color: #FCC686;
    color:black;
    font-size: 1.25vw;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
    margin-bottom: 2vw;
}

.subnav-a:hover{
    background-color: black;
    color: white;
}

.membershiplogin{
    margin: 0 auto;
    display: inline-block;
    background-color: #FCC686;
    border:none;
    outline:none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.membershiplogin:hover{
    background-color:black;
    color: white;
}

.membershiplogin a{
    padding-left: 2vw;
    padding-right:2vw;
    font-size: 1.25vw;
}

.quicknavbutton{
    font-size: 1.5vw;
    background-color: #1b7098;
    color: white;
    border:none;
    outline:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20vw;
    height:10vw;
    vertical-align: middle;
    margin-bottom: 2vw;
}

.quicknavbutton a{
    padding: 2vw;
}

.quicknavbutton:hover{
    background-color: #fcc686;
    color: black;
}

.menubutton{
    color: white;
    height:auto;
    width:100%;
    z-index: 1;
    font-size: large;
}

.sidebar-show-wrap{
    background-color: #1b7098;
    color: white;
}

.sidebar-show-wrap p{
    margin-left: 7vw;
    margin-bottom: 2vw;
}

.searchstuff input{
    margin: 5px;
}

.searchstuff button{
    margin: 0 auto;
    display: inline-block;
    background-color: #FCC686;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.searchstuff button:hover{
    background-color: white;
}

.search{
    font-size: 1vw;
    height: 3vw;
}

.websitebuild{
    padding: 5vw;
    padding-bottom: 2vw;
}

.access{
    text-align: center;
    padding: 0.5vw;
}

.access a{
    color: #1b7098;
}

footer{
    font-size: small;
    margin-top: 10vh;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #7E6B8F;
    color: white;
    text-align: center;
}

@media (max-width: 940px){
    .container-item h1{
        font-size: 5rem!important;
    }
}

@media (max-width: 800px){
    .container-item h1{
        font-size: 3rem!important;
    }
}
@media (max-width:576px){
    .container-item h1{
        font-size: 4rem!important;
    }
    .sidebar-wrap{
        display: inline-block;
        position: inherit;
        z-index: 1;
    }
    .pagesbar{
        display:none;
    }
    .navbar{
        display: none;
    }
 }

 @media only screen and (max-width:350px){
    .container-item h1{
        font-size: 2rem!important;
    }
    .pagesbar {
        float: left;
        background: #7FB6BA;
        margin: 0.5em;
        padding:0.5em;
    }
}


